@model ETicaret.UI.Areas.Admin.Models.SizeTypesVMs.SizeTypeCreateVM

<form asp-action="Create">
    <div class="form-floating mb-3">
        <input asp-for="SizeTypeName" class="form-control" type="text" placeholder="" />
        <label for="floatingInputName">@Localizer["SizeTypeName"]</label>
        <span asp-validation-for="SizeTypeName" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-primary" type="submit">@Localizer["Create"]</button>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</form>

