@{
    Layout = "_Layout";
}

<div class="container mt-5 text-center">
    <h2>Thank You!</h2>
    <p>Your order has been successfully placed.</p>
</div>

<script>
    // sessionStorage verilerini temizle
    sessionStorage.clear();
</script>
