@model ETicaret.UI.Areas.Admin.Models.AccountVMs.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>@Localizer["Change Password"]</h3>
                </div>
                <div class="card-body">
                    <form asp-action="ChangePassword" asp-controller="Account" asp-area="Admin" method="post">
                        <div class="form-floating mb-3">
                           <input type="hidden" asp-for="Id" />
                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder=@Localizer["Current Password"] />
                            <label asp-for="CurrentPassword">@Localizer["Current Password"]</label>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                          
                                      
                        </div>
                        <div class="form-floating mb-3">

                            <input type="password" asp-for="NewPassword" class="form-control" placeholder=@Localizer["Current Password"] />
                            <label asp-for="NewPassword">@Localizer["New Password"]</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>                        
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LdmYAQqAAAAAEs15yHLCALC5SoHWFFisvgmiXpq"></div>
                        <br />

                        <button class="btn btn-primary btn-lg" type="submit">@Localizer["Change Password"]</button>
                    </form>

                </div>
                
            </div>
        </div>
    </div>
</div>

